<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lab2</title>
</head>
<body>
<form action="/product4/save" method="post">
    <input name="name">
    <input name="price">
    <button>Save</button>
</form>
<ul>
    <li th:text="${p1.name}">?1name</li>
    <li th:text="${p1.price}">?1price</li>
</ul>
<ul>
    <li th:text="${p2.name}">?2name</li>
    <li th:text="${p2.price}">?2price</li>
</ul>
<ul>
    <th:block th:each="item : ${items}">
        <li th:text="${item.name}">item.name</li>
        <li th:text="${item.price}">item.price</li>
    </th:block>
</ul>
</body>
</html>